<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head">
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
<nav th:replace="partials :: nav"></nav>
<h1 class="title">Create an account</h1>
<form th:action="@{/register}" th:method="post" th:object="${user}">
	<label th:for="username">Username</label>
	<input type="text" id="username" th:field="*{username}">

	<label th:for="firstName">First Name</label>
	<input type="text" id="username" th:field="*{username}">

	<label th:for="lastName">Username</label>
	<input type="text" id="username" th:field="*{username}">

	<label th:for="email">Username</label>
	<input type="email" id="username" th:field="*{username}">

	<label th:for="password">Username</label>
	<input type="password" id="username" th:field="*{username}">

	<label th:for="confirmPassword">Username</label>
	<input type="password" id="username" th:field="*{username}">
</form>

<footer th:replace="partials :: footer"></footer>
</body>
</html>
