<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>
<h1 class="title text-center mb-3">About Us</h1>

<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-3 col-lg-3 col-md-12 col-sm-6">
            <div class="card min-vh-100">
                <img th:src="@{img/Mario.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mario Granados</h5>
                    <hr>
                    <p class="card-text">A Full-Stack Software developer from the Rio Grand Valley and proud US Navy Veteran.
                        <br>When I'm not starting at lines of code, I enjoy hiking, traveling, and making music.
                        <br>If you are interested in working together on projects or if you want to exchange sea stories, contact me by email!
                        <br>I enjoy collaborating in projects with other developers.</p>
                    <hr>
                </div>

                <div class="card-footer" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/marioagranados/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/MarioGranados}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:mario.granados_97@hotmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3 col-lg-3 col-md-12 col-sm-6">
            <div class="card min-vh-100">
                <img th:src="@{img/Andrew.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Andrew Lange</h5>
                    <hr>
                    <p class="card-text">Highly motivated Software Developer and Air Force Veteran with military aircraft...</p>
                    <hr>
                </div>

                <div class="card-footer" style="text-align: center" >
                    <a th:href="@{https://www.linkedin.com/in/andrew-lange13/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/andrew-lange13}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:alange20@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3 col-lg-3 col-md-12 col-sm-6">
            <div class="card min-vh-100">
                <img th:src="@{img/Angel.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Angel Santana</h5>
                    <p class="card-text">Driven and resourceful US Army Veteran professional with an active Secret Security Clearance and<br>
                        3+ years of progressively higher leadership and management and training experience.<br>
                        Knowledgeable in software development with a strong desire for growth in the fullstack industry.</p>

                </div>

                <div class="card-footer" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/angelsantana00/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/angelsantana00}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:asantana2131@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-3 col-lg-3 col-md-12 col-sm-6">
            <div class="card min-vh-100">
                <img th:src="@{img/Danielle.jpeg}" class="card-img-top" alt="..." style="height: 286px;">
                <div class="card-body">
                    <h5 class="card-title">Danielle Turner</h5>
                    <hr>
                    <p class="card-text">Full stack software engineer with a BS in Computer Science and 14yr Navy Veteran.<br>
                    When I'm not coding I'm taking in the sites in San Antonio.<br>
                    I'm always open to networking, and I have a niche for learning.<br>
                    Let's talk....hit the email button below and send me a message.</p>
                    <hr>
                </div>
                <div class="card-footer" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/danielle-turner7/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/danielleturner}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:danielle.7.turner@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="partials :: footer"></footer>

</body>
</html>
