<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container mb-5" id="avatar">
    <div class="row">
        <div class="col">
            <img th:src="@{img/RecyCode (3).png}" height="500" width="500"/>
        </div>
    </div>
</div>


<h1 class="title text-center mb-3">About Us</h1>

<div class="card-deck row">
    <div class="card col">
        <img class="card-img-top" src="..." alt="Card image cap" id="patawuan">
        <div class="card-body">
            <h5 class="card-title">For Laura</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card col">
        <img class="card-img-top" src="..." alt="Card image cap" id="blueman">
        <div class="card-body">
            <h5 class="card-title">Also for Laura</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card col">
        <img class="card-img-top" src="..." alt="Card image cap" id="skywalker">
        <div class="card-body">
            <h5 class="card-title">Yes, also for Laura</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    // target the attribute (this is where the data will be stored retrieved from the api)
    $("#blueman").attr('src', '??')

    // now i'm going to make the request from the api
    $.ajax("https://dog.ceo/api/breeds/image/random");

    // once the request is made I need to recieve the response by using .done method
    $.ajax("https://dog.ceo/api/breeds/image/random").done()

    // .done accepts a function as a parameter so I need to pass in function in the .done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        //link string retrieved "data.message" into value of element being changed(id="blueman")
        $("#blueman").attr("src", data.message)
        console.log(status)
    })

        .fail(function (){
            console.log("something went woof!?")
        })

    $("#skywalker").attr('src', '??')

    // now i'm going to make the request from the api
    $.ajax("https://dog.ceo/api/breeds/image/random");

    // once the request is made I need to recieve the response by using .done method
    $.ajax("https://dog.ceo/api/breeds/image/random").done()

    // .done accepts a function as a parameter so I need to pass in function in the .done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        //link string retrieved "data.message" into value of element being changed(id="blueman")
        $("#skywalker").attr("src", data.message)
        console.log(status)
    })

        .fail(function (){
            console.log("something went woof!?")
        })

    $("#patawuan").attr('src', '??')

    // now i'm going to make the request from the api
    $.ajax("https://dog.ceo/api/breeds/image/random");

    // once the request is made I need to recieve the response by using .done method
    $.ajax("https://dog.ceo/api/breeds/image/random").done()

    // .done accepts a function as a parameter so I need to pass in function in the .done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        //link string retrieved "data.message" into value of element being changed(id="blueman")
        $("#patawuan").attr("src", data.message)
        console.log(status)
    })

        .fail(function (){
            console.log("something went woof!?")
        })
</script>
</body>
</html>
