<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container mb-5" id="avatar">
    <div class="row">
        <div class="col">
            <img th:src="@{img/RecyCodeLogo.png}" height="500" width="500"/>
        </div>
    </div>
</div>


<h1 class="title text-center mb-3">About Us</h1>

<div class="container col">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img th:src="@{img/Mario.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mario Granados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/marioagranados/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/MarioGranados}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:mario.granados_97@hotmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img th:src="@{img/Andrew.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Andrew Lange</h5>
                    <p class="card-text">Highly motivated Software Developer and Air Force Veteran with military aircraft...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body"style="text-align: center" >
                    <a th:href="@{https://www.linkedin.com/in/andrew-lange13/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/andrew-lange13}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:alange20@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img th:src="@{img/Angel.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Angel Santana</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/angelsantana00/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/angelsantana00}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:asantana2131@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img th:src="@{img/Danielle.jpeg}" class="card-img-top" alt="..." style="height: 286px;">
                <div class="card-body">
                    <h5 class="card-title">Danielle Turner</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body" style="text-align: center">
                    <a th:href="@{https://www.linkedin.com/in/danielle-turner7/}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
                    <a th:href="@{https://github.com/danielleturner}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
                    <a href="mailto:danielle.7.turner@gmail.com" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="card-deck row">-->
<!--    <div class="card col">-->
<!--        <img class="card-img-top" src="..." alt="Card image cap">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title"></h5>-->
<!--            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->

<!--<div class="container">-->
<!--    <div class="card-deck row">-->
<!--        <div class="card col">-->
<!--            <img class="card-img-top" src="..." alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Mario Grandas</h5>-->
<!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--            </div>-->
<!--            <div class="card-footer d-flex justify-content-around">-->
<!--                <a href="/" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>-->
<!--                <a href="/" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>-->
<!--                <a href="/" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="card col">-->
<!--            <img class="card-img-top" src="..." alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Andrew Lange</h5>-->
<!--                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, asperiores aspernatur deleniti dolor dolore doloremque ipsam iure iusto, magnam maiores nesciunt nihil odio optio quo ratione tempore, veritatis vitae!</p>-->
<!--            </div>-->
<!--            <div class="card-footer d-flex justify-content-around">-->
<!--                <a href="/" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>-->
<!--                <a href="/" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>-->
<!--                <a href="/" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    <div class="card col">-->
<!--        <img class="card-img-top" src="..." alt="Card image cap">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Angel Santana</h5>-->
<!--            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->

<!--        <div class="card col">-->
<!--            <img class="card-img-top" src="..." alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Danielle Turner</h5>-->
<!--                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dolor eius magni modi omnis placeat repellendus! Ad autem cumque dicta fuga libero magnam repellendus.</p>-->
<!--            </div>-->
<!--            <div class="card-footer d-flex justify-content-around">-->
<!--                <a href="/" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>-->
<!--                <a href="/" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>-->
<!--                <a href="/" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="card col">-->
<!--            <img class="card-img-top" th:src="@{img/Mario.jpeg}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Mario Granados</h5>-->
<!--                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur dignissimos dolorum enim iure iusto omnis provident quae quibusdam quod, recusandae repellat voluptates voluptatum! Voluptate!</p>-->
<!--            </div>-->
<!--            <div class="card-footer d-flex justify-content-around">-->
<!--                <a href="/" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>-->
<!--                <a href="/" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>-->
<!--                <a href="/" class="btn btn-secondary btn-lg"><i class="bi bi-envelope-fill"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card col">-->
<!--        <img class="card-img-top" src="" alt="Card image cap">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Danielle Turner</h5>-->
<!--            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--            <small class="text-muted">Last updated 3 mins ago</small>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<footer th:replace="partials :: footer"></footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $("#blueman").attr('src', '??')
    $.ajax("https://dog.ceo/api/breeds/image/random");
    $.ajax("https://dog.ceo/api/breeds/image/random").done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        $("#blueman").attr("src", data.message)
        console.log(status)
    })
        .fail(function (){
            console.log("something went woof!?")
        })

    $("#skywalker").attr('src', '??')
    $.ajax("https://dog.ceo/api/breeds/image/random");
    $.ajax("https://dog.ceo/api/breeds/image/random").done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        $("#skywalker").attr("src", data.message)
        console.log(status)
    })

        .fail(function (){
            console.log("something went woof!?")
        })


    $("#patawuan").attr('src', '??')
    $.ajax("https://dog.ceo/api/breeds/image/random");
    $.ajax("https://dog.ceo/api/breeds/image/random").done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        $("#patawuan").attr("src", data.message)
        console.log(status)
    })

        .fail(function (){
            console.log("something went woof!?")
        })
</script>
</body>
</html>
