<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>
<nav th:replace="partials :: nav"></nav>
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h4 class="display-5 text-center text-danger">Oooops, Page Not Found</h4>
        <div class="imgcontainer">
              <img src="" alt="" id="doggo" height="400px">
        </div>
        <p class="text-center">We were unable to find the page you are looking for</p>
    </div>
    <div th:case="'Forbidden'">
        <h4 class="display-5 text-center text-danger">You don't have permission to view this page.</h4>
        <p class="text-center">Stop trying to hack us!</p>
    </div>
    <div th:case="'Default'">
        <h4 class="display-5 text-center text-danger">Something Went Wrong</h4>
        <p class="text-center">We don't know what happened</p>
    </div>
</th:block>
<div class="row justify-content-center align-items-center">
    <img th:src="@{/img/RecyCodeLogo.png}" style="width: 50vh; height: 300px;"
         class="rounded-circle"/>
</div>
<div class="row">
    <div class="container w-50">
        <div class="d-flex justify-content-around">
            <button onclick="history.back()" class="btn btn-primary btn-lg my-1">Previous Page</button>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-dark btn-lg my-1">Surprise Me</a>
        </div>
    </div>
</div>

<div th:replace="partials :: footer"></div>
</body>



</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $("#doggo").attr('src', '??')
    $.ajax("https://dog.ceo/api/breeds/image/random");
    $.ajax("https://dog.ceo/api/breeds/image/random").done()
    $.ajax("https://dog.ceo/api/breeds/image/random").done(function (data, status){
        console.log(data.message)
        $("#doggo").attr("src", data.message)
        console.log(status)
    })
        .fail(function (){
            console.log("something went woof!?")
        })
</script>
</html>
