<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title>RecyCode Home</title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>

<!--filter-->
<!--<form th:action="@{/languages/search}" method="post">-->
<!--	<label for="category">Filter By</label>-->

<!--	<select aria-label="category selection"-->
<!--			class="form-select form-select-lg mb-3"-->
<!--			name="category"-->
<!--			id="category">-->

<!--		<option value="HTML">HTML</option>-->
<!--		<option value="Java">Java</option>-->
<!--		<option value="CSS">CSS</option>-->
<!--		<option value="JavaScript">JS</option>-->
<!--		<input type="submit">-->
<!--	</select>-->
<!--</form>-->

<!--filter-->

<!--<div class="container-fluid">
	<div class="row">
		<div class=" col-lg-3 col-md-6 col-sm-12 content-card" th:each="post : ${post}">
			<a th:href="@{|/post/${post.getPostId()}|}">
				<div class="card-big-shadow">
					<div class="card card-just-text" style="background-color: lightgrey" data-radius="none">
						<div class="content" id="cardContent">
							&lt;!&ndash;						<h6 class="category">Category</h6>&ndash;&gt;
							<h2 class="title mb-1" th:text="*{post.title}"></h2>
							<p class="description" th:text="*{post.description}"></p>
							<img th:src="*{post.image_url}" class="img-fluid" id="cardImg">
							<p class="mt-3" th:text="*{post.date_published}"></p>
							<a th:href="@{|/profile/*{post.user.getUserName()}|}"><p class="mt-3"
							                                                         th:text="*{post.user.getUserName()}"></p>
							</a>
							<ul class="mt-3 d-inline" th:each="tag : *{post.getTags()}">
								<li class="d-inline" th:text="'#'+*{tag.getTag()}"></li>
							</ul>
						</div>
					</div> &lt;!&ndash; end card &ndash;&gt;
				</div>
			</a>
		</div>

	</div>
</div>-->
<div class="container">
	<div class="row justify-content-evenly d-flex align-items-baseline">
		<div class="col-9">
			<div th:each="postStat : ${postStats}">
				<div class="card mb-3 mt-3" style="max-width: 50rem;">
					<div class="row g-0">
						<div class="col-md-4">
							<a th:href="@{|/post/${postStat.getPost().postId}|}">
								<img th:src="*{postStat.post.image_url}" class="img-fluid rounded-start"
								     alt="..." style="width: 15rem; height: 15rem">
							</a>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<a th:href="@{|/post/${postStat.getPost().postId}|}"
								   class="text-decoration-none text-dark">
									<h5 class="card-title">
										<span th:text="${postStat.getPost().getTitle()}"></span>
									</h5></a>
								<p class="card-text"><span
										th:text="${postStat.post.description}"></span></p>
								<p class="card-text"><small class="text-muted">Last updated <span
										th:text="${postStat.getPost().getDate_published()}"></span></small>
								</p>
							</div>
							<div class="card-footer justify-content-evenly align-items-baseline d-flex mt-5">
								<!--upvites-->
								<form th:action="@{/profile/upvote}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value" hidden>
									<button type="submit" class="btn btn-secondary">
													<span><i class="bi bi-caret-up-fill"></i> Like
														<span th:text="${postStat.getUpVotesCount()}"></span>
													</span>
									</button>
								</form>
								<!--downvotes-->
								<form th:action="@{/profile/downvote}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value" hidden>
									<button type="submit" class="btn btn-secondary">
													<span><i class="bi bi-caret-down-fill"></i> Dislike
														-<span th:text="${postStat.getDownVotesCount()}"></span>
													</span>
									</button>
								</form>
								<!--upvotes and downvotes end-->

								<!--favorite button starts here-->
								<form th:action="@{/profile/addToFavorites}" method="post">
									<button class="btn" style="background-color: #FF914D" type="submit">
										<input type="text" th:value="${postStat.getPost().getPostId()}"
										       name="post_id_value"
										       hidden>
										<i class="bi bi-star"></i>
										Add to Favorites
									</button>
								</form>
								<!--favorites button ends here-->

								<form th:action="@{/profile/copyPost}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value"
									       hidden>
									<button type="submit"
									        class="btn btn-secondary">Make A Copy
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					See what these users are coding
				</div>
				<ul th:each="user : ${users}" class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-start align-items-baseline">
						<img th:src="${user.getAvatarImg()}" style="border-radius: 50%; height: 40px; width: 40px;"
						     alt="">
						<a th:href="@{|/profile/*{user.getUserName()}|}">
							<p class="mt-3 mx-2 text-capitalize fs-3" th:text="*{user.getUserName()}"></p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>
