<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title>RecyCode Home</title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>


<div class="container" id="avatar">
	<div class="row">
		<div class="col">
			<img th:src="@{img/RecyCode (3).png}" height="500" width="500" class="rounded-circle"/>
		</div>
	</div>
</div>

<div class="container px-4" id="codeblocks">
	<div class="row gx-5">
		<div class="col" th:each="post : ${post}">
			<div>
				<div class="card-header p-3 border bg-light">
					<h4>HTML</h4>
				</div>
				<div class="card-body border">
					<p th:text="${post.description}"></p>
					<p th:text="${post.content}"></p>
					<p th:text="${post.date_published}"></p>
				</div>
			</div>
		</div>
		<div class="col" th:each="post : ${post}">
			<div>
				<div class="card-header p-3 border bg-light">
					<h4>Java/JS</h4>
				</div>
				<div class="card-body border">
					<p th:text="${post.description}"></p>
					<p th:text="${post.content}"></p>
					<p th:text="${post.date_published}"></p>
				</div>
			</div>
		</div>
		<div class="col" th:each="post : ${post}">
			<div>
				<div class="card-header p-3 border bg-light">
					<h4>CSS</h4>
				</div>
				<div class="card-body border">
					<p th:text="${post.description}"></p>
					<p th:text="${post.content}"></p>
					<p th:text="${post.date_published}"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>
