<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title>RecyCode Home</title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>

<div class="container">
	<div class="row justify-content-evenly mt-5 d-flex align-items-start flex-md-row-reverse flex-xl-row">
		<div class="col-xl-9 col-md-8 col-sm-12">
			<div th:each="postStat : ${postStats}">
				<div class="card mb-3" style="width: auto;">
					<div class="row g-0">
						<div class="col-md-4">
							<a th:href="@{|/post/${postStat.getPost().postId}|}">
								<img th:src="*{postStat.post.image_url}" class="img-fluid rounded-start"
								     alt="..." style="width: 15rem; height: 15rem">
							</a>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<a th:href="@{|/post/${postStat.getPost().postId}|}"
								   class="text-decoration-none text-dark">
									<h5 class="card-title">
										<span th:text="${postStat.getPost().getTitle()}"></span>
									</h5></a>
								<p class="card-text"><span
										th:text="${postStat.post.description}"></span></p>
								<p class="card-text"><small class="text-muted">Last updated <span
										th:text="${postStat.getPost().getDate_published()}"></span></small>
								</p>
							</div>
							<div class="card-footer justify-content-evenly align-items-baseline d-flex mt-5">
								<!--upvites-->
								<form th:action="@{/profile/upvote}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value" hidden>
									<button type="submit" class="btn btn-secondary">
													<span><i class="bi bi-caret-up-fill"></i> Like
														<span th:text="${postStat.getUpVotesCount()}"></span>
													</span>
									</button>
								</form>
								<!--downvotes-->
								<form th:action="@{/profile/downvote}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value" hidden>
									<button type="submit" class="btn btn-secondary">
													<span><i class="bi bi-caret-down-fill"></i> Dislike
														-<span th:text="${postStat.getDownVotesCount()}"></span>
													</span>
									</button>
								</form>
								<!--upvotes and downvotes end-->

								<!--favorite button starts here-->
								<form th:action="@{/profile/addToFavorites}" method="post">
									<button class="btn" style="background-color: #FF914D" type="submit">
										<input type="text" th:value="${postStat.getPost().getPostId()}"
										       name="post_id_value"
										       hidden>
										<i class="bi bi-star"></i>
										Add to Favorites
									</button>
								</form>
								<!--favorites button ends here-->

								<form th:action="@{/profile/copyPost}" method="post">
									<input type="text" th:value="${postStat.getPost().getPostId()}"
									       name="post_id_value"
									       hidden>
									<button type="submit"
									        class="btn btn-secondary">Make A Copy
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-4 col-sm-12">
			<div class="card" style="width: auto;">
				<div class="card-header">
					See what these users are coding
				</div>
				<ul th:each="user : ${users}" class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-start align-items-baseline">
						<img th:src="${user.getAvatarImg()}" style="border-radius: 50%; height: 40px; width: 40px;"
						     alt="">
						<a th:href="@{|/profile/*{user.getUserName()}|}">
							<p class="mt-3 mx-2 text-capitalize fs-3" th:text="*{user.getUserName()}"></p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>
