<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title>RecyCode Home</title>
</head>

<body>
<!--<div th:replace="partials :: #loading"></div>-->
<nav th:replace="partials :: nav"></nav>

<div class="container-fluid" id="avatar">
	<div class="row">
		<div class="col">
			<img th:src="@{/img/LogoTransparent.png}" height="380" width="380"/>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col mx-5">
			<h1 class="text-center m-1" style="color: #FF914D">Create - Search - Recycle</h1>
			<h3 class="text-center m-5" style="color: #A6A6A6; line-height: 1.5">A one-stop shop for code snippets. Are you a beginner with coding? Don't be afraid. We welcome all levels of coders here to utilize and share each others' work. Thought their post was useful? Leave them a like! Liked a post and want to reference back to it without searching for it? Favorite it so you can view it on your profile! Dislike a post? Dislike it and maybe the coder can go back and refactor the code. You can never go wrong with recycling!</h3>
		</div>
	</div>
	<div class="row d-flex text-center justify-content-evenly align-items-baseline m-2">

		<div class="col-xl-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">

			<div class="card mb-3" style="max-width: 18rem; background-color:#80D959;">
				<div class="card-body">
					<h3 class="card-title display-3"><i class="bi bi-search"></i></h3>
					<p class="card-text">Find useful code that you implement on your own projects, help others find theirs</p>
					<a href="/signup"><button class="btn btn-outline-dark btn-lg fw-bold my-2">Join The Community</button></a>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
			<div class="card mb-3" style="max-width: 18rem; background-color:#FF914D;">
				<div class="card-body">
					<h3 class="card-title display-3"><i class="bi bi-people-fill"></i></h3>

					<p class="card-text">Click the button below to see the founders of RecyCode and connect with us!</p>
					<a href="/about"><button class="btn btn-outline-dark btn-lg fw-bold my-2">Meet The Team</button></a>
				</div>
			</div>
		</div>
<!--		<div class="col">
			<a href="/register"><button class="btn" style="background-color:#FF914D">Register</button></a>
		</div>-->
		<div class="col-xl-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
			<div class="card mb-3" style="max-width: 18rem; background-color:#5271FF;">
				<div class="card-body">
					<h3 class="card-title display-3"><i class="bi bi-book"></i></h3>
					<p class="card-text">Learn from the community, search code from experienced UI/UX designers</p>
					<a href="/posts"><button class="btn btn-outline-dark btn-lg fw-bold my-2" >Explore</button></a>
				</div>
			</div>
		</div>
	</div>
</div>



<footer th:include="partials :: footer" class="fixed-bottom"></footer>
</body>
</html>
