<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title>RecyCode Home</title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>

<!-- Jumbotron -->
<!--<div class="p-5 text-center bg-image rounded-3" style="-->
<!--    background-image: url('https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=900');-->
<!--    height: 400px;-->
<!--  ">-->
<!--	<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">-->
<!--		<div class="d-flex justify-content-center align-items-center h-100">-->
<!--			<div class="text-white">-->
<!--				<h1 class="mb-3">RecyCode</h1>-->
<!--				<h4 class="mb-3">Subheading</h4>-->
<!--				<a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- Jumbotron -->


<div class="container-fluid" id="avatar">
	<div class="row">
		<div class="col">
			<img th:src="@{/img/LogoTransparent.png}" height="500" width="500" class="rounded-circle"/>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1 class="text-center m-5" style="color: #FF914D">Create - Search - Recycle</h1>
			<h3 class="text-center m-5" style="color: #A6A6A6">A one-stop shop for code snippets. Are you a beginner with coding? Don't be afraid. We welcome all levels of coders here to utilize and share each others' work. Thought their post was useful? Leave them a like! Want to You can never go wrong with recycling.</h3>
		</div>
	</div>
	<div class="row d-flex text-center m-5">
		<div class="col">
			<a href="/login"><button class="btn btn-success">Login</button></a>
		</div>
		<div class="col">
			<a href="/register"><button class="btn btn-primary">Register</button></a>
		</div>
		<div class="col">
			<a href="/posts"><button class="btn btn-danger" >Go to the posts</button></a>
		</div>
	</div>
</div>



<footer th:replace="partials :: footer"></footer>
</body>
</html>
