<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Languages</title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>

<form th:action="@{/languages/search}" method="Post">
    <label for="cats">Filter By</label>
    <select name="category" id="cats">
        <option value="HTML">HTML</option>
        <option value="Java">Java</option>
        <option value="CSS">Css</option>
        <option value="JavaScript">JS</option>
        <input type="submit">
    </select>
</form>

<div th:if="${posts != null}">
    <div th:text="${Languages.category}"></div>
    <div th:each="post : ${posts}">
        <p th:text="${post.title}"></p>
        <p th:text="${post.content}"></p>
        <p th:text="${post.description}"></p>
        <p th:text="${post.date_published}"></p>
    </div>
</div>


<div>
    <div data-pym-src="https://www.jdoodle.com/embed/v0/2IhG?stdin=1&arg=0">Hello World</div>
</div>

<footer th:replace="partials :: footer"></footer>
<script src=”https://www.jdoodle.com/assets/jdoodle-pym.min.js” type=”text/javascript”></script>
</body>
</html>