<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Other Users</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container mb-5" id="avatar">
    <div class="row">
        <div class="col">
            <img th:src="@{/img/RecyCode (3).png}" height="500" width="500" alt="RecyCode Logo"/>
        </div>
    </div>
</div>

<h1 class="text-center">Other User Profile</h1>
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card" th:each="postStat : ${postStats}">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Category</h6>
                        <h2 class="title mb-1" th:text="*{postStat.getPost().title}"><a href="#"></a></h2>
                        <p class="description" th:text="*{postStat.getPost().description}"></p>
                        <code class="" th:text="*{postStat.getPost().content}"></code>
                        <p class="mt-3" th:text="*{postStat.getPost().date_published}"></p>
                    </div>
                    <form th:action="@{/profile/upvote}" method="post">
                        <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                        <button type="submit" class="btn btn-secondary">
				    <span>Up Votes
                        <span th:text="${postStat.getUpVotesCount()}"></span>
				    </span>
                        </button>
                    </form>
                    <form th:action="@{/profile/downvote}" method="post">
                        <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                        <button type="submit" class="btn btn-secondary">
                            <span>Down Votes
                                -<span th:text="${postStat.getDownVotesCount()}"></span>
                            </span>
                        </button>
                    </form>
                    <form th:action="@{/profile/addToFavorites}" method="post">
                        <button class="btn btn-warning" type="submit">
                            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                            <i class="bi bi-star"></i>
                            Add to Favorites
                        </button>
                    </form>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>

<!--favorites section-->
<!--this partials is shared by the OtherUsers.html and Profile.html-->
<h5 class="display-5">Favorites</h5>
<div th:replace="partials :: favorites"></div>

<!--ends favorites sections-->


<footer th:replace="partials :: footer"></footer>

</body>
</html>
