<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Other Users</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container" id="avatar">
    <div class="row my-1">
        <img th:src="${user.avatarImg}" height="200" width="200">
        <h1 class="text-center my-2"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
        <div class="container justify-content-around d-flex">
            <a th:href="${user.linkedInURL}" class="btn btn-primary btn-lg"><i class="bi bi-linkedin"></i></a>
            <a th:href="${user.githubURL}" class="btn btn-dark btn-lg"><i class="bi bi-github"></i></a>
        </div>
    </div>

</div>

<h3 class="text-center my-3"><span th:text="${user.userName}"></span>'s code</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card" th:each="postStat : ${postStats}">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Category</h6>
                            <a th:href="@{|/post/${postStat.getPost().postId}|}"><h2 class="title mb-1" th:text="*{postStat.getPost().title}"></h2></a>
                        <p class="description" th:text="*{postStat.getPost().description}"></p>
                        <!--                        <code class="" th:text="*{postStat.getPost().content}"></code>-->
                        <p class="mt-3" th:text="*{postStat.getPost().date_published}"></p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center my-2">
                        <form th:action="@{/profile/addToFavorites}" method="post">
                            <button class="btn btn-warning" type="submit">
                                <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                                <i class="bi bi-star"></i>
                                Add to Favorites
                            </button>
                        </form>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <form th:action="@{/profile/upvote}" method="post">
                            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                            <button type="submit" class="btn btn-secondary">
                                <span>
                                    Likes
                                    <i class="bi bi-caret-up-square"></i>
                                    <span th:text="${postStat.getUpVotesCount()}"></span>
                                </span>
                            </button>
                        </form>
                        <form th:action="@{/profile/downvote}" method="post">
                            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                            <button type="submit" class="btn btn-secondary">
                            <span>Dislikes
                                <i class="bi bi-caret-down-square"></i>
                                -<span th:text="${postStat.getDownVotesCount()}"></span>
                            </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>

<!--favorites section-->
<!--this partials is shared by the OtherUsers.html and Profile.html-->
<div th:if="${favorites != null}">
    <div th:replace="partials :: favorites"></div>
</div>

<!--ends favorites sections-->


<footer th:replace="partials :: footer"></footer>

</body>
</html>
