<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
  <meta charset="UTF-8">
  <title>Other Users</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container mb-5" id="avatar">
  <div class="row">
    <div class="col">
      <img th:src="@{/img/RecyCode (3).png}" height="500" width="500" alt="RecyCode Logo"/>
    </div>
  </div>
</div>

<h1 class="text-center">Other User Profile</h1>

<div th:replace="partials :: posts_fragment"></div>


<footer th:replace="partials :: footer"></footer>

</body>
</html>
