<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--Head Partial-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/style.css}">

    <!--Styling for Dark Mode Button-->
    <style>
        body {
            padding: 25px;
            background-color: white;
            color: black;
        }

        .dark-mode {
            background-color: black;
            color: white;
        }
    </style>

</head>
<body>

<!--NAVBAR -->
<nav th:fragment="nav">
    <header class="p-2 bg-dark text-white rounded-pill mt-1 mx-2">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center" id="navfrag">

                <ul class="nav mb-2 justify-content-center align-items-center mb-md-0">
                    <li><a href="/" class="nav-link m-2 px-2 text-white btn btn-secondary">Home</a></li>

                    <li><a sec:authorize="isAuthenticated()" href="/profile"
                           class="nav-link m-2 px-2 text-white btn btn-secondary ">Profile</a></li>
                    <li><a sec:authorize="isAuthenticated()" href="/post"
                           class="nav-link m-2 px-2 text-white btn btn-secondary">Create A Post</a></li>


                    <li>
                        <div class="col">
                            <img th:src="@{img/navbarlogo.png}" class="rounded-circle" style="height: 70px; width: 70px"/>
                        </div>
                    </li>

                    <li>
                        <form class="m-2" style="width: auto" method="post"
                              th:action="@{/search/results}">
                            <input type="search" class="form-control form-control-dark" placeholder="Search..."
                                   aria-label="Search" name="searched_value">
                        </form>
                    </li>

                    <li>
                        <form th:action="@{/about}" th:method="get">
                            <button class="nav-link m-2 px-2 text-white btn btn-secondary">About Us</button>
                        </form>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <form th:action="@{/login}" th:method="get">
                            <button class="nav-link m-2 px-2 text-white btn btn-secondary">Login</button>
                        </form>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <form th:action="@{/register}" th:method="get">
                            <button class="nav-link m-2 px-2 text-white btn btn-secondary">Sign-up</button>
                        </form>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="nav-link m-2 px-2 text-white btn btn-secondary">Logout</button>
                        </form>
                    </li>

                </ul>

<!--                <div class="d-flex">-->

<!--                    <div>-->
<!--                        <div class="row">-->

<!--                        </div>-->
<!--                    </div>-->

<!--                    <form class="m-2" style="width: auto" method="post"-->
<!--                          th:action="@{/search/results}">-->
<!--                        <input type="search" class="form-control form-control-dark" placeholder="Search..."-->
<!--                               aria-label="Search" name="searched_value">-->
<!--                    </form>-->

<!--                    <ul class="nav mb-2 justify-content-center mb-md-0">-->
<!--                        <li>-->
<!--                            <form th:action="@{/about}" th:method="get">-->
<!--                                <button class="nav-link m-2 px-2 text-white btn btn-secondary">About Us</button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAnonymous()">-->
<!--                            <form th:action="@{/login}" th:method="get">-->
<!--                                <button class="nav-link m-2 px-2 text-white btn btn-secondary">Login</button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAnonymous()">-->
<!--                            <form th:action="@{/register}" th:method="get">-->
<!--                                <button class="nav-link m-2 px-2 text-white btn btn-secondary">Sign-up</button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAuthenticated()">-->
<!--                            <form th:action="@{/logout}" th:method="post">-->
<!--                                <button class="nav-link m-2 px-2 text-white btn btn-secondary">Logout</button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
    </header>
</nav>

<div th:fragment="posts_fragment">
    This is read from partials, I was too lazy to code this again - Mario
    <div th:each="post : ${posts}">
        <p th:text="${post.title}"></p>
        <p th:text="${post.content}"></p>
        <p th:text="${post.description}"></p>
        <p th:text="${post.date_published}"></p>
        <div th:each="postStat : ${postStats}">
            <form th:action="@{/profile/upvote}" method="post">
                <input type="text" th:value="${post.getPostId()}" name="post_id_value" hidden>
                <button type="submit" class="btn btn-secondary">
				    <span>Up Votes
                        <span th:text="${postStat.upVotesCount}"></span>
				    </span>
                </button>
            </form>
            <form th:action="@{/profile/downvote}" method="post">
                <input type="text" th:value="${post.getPostId()}" name="post_id_value" hidden>
                <button type="submit" class="btn btn-secondary">
				    <span>Down Votes
					    -<span th:text="${postStat.downVotesCount}"></span>
				    </span>
                </button>
            </form>
        </div>
    </div>
</div>

<!--test fragment-->
<div th:fragment="post_stat_fragment">
    <div th:each="postStat : ${postStats}">
        <p th:text="${postStat.getPost().getTitle()}"></p>
        <p th:text="${postStat.getPost().getContent()}"></p>
        <p th:text="${postStat.getPost().getHtml()}"></p>
        <p th:text="${postStat.getPost().getCss()}"></p>
        <p th:text="${postStat.getPost().getJs()}"></p>
        <p th:text="${postStat.getPost().getDate_published()}"></p>
        <!--this is for testing only-->
        <span>postID </span>
        <p th:text="${postStat.getPost().getPostId()}"></p>
        <!--this is for testing only-->

        <!--upvites-->
        <form th:action="@{/profile/upvote}" method="post">
            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
            <button type="submit" class="btn btn-secondary">
				    <span><i class="bi bi-caret-up-fill"></i> Like
                        <span th:text="${postStat.getUpVotesCount()}"></span>
				    </span>
            </button>
        </form>
        <!--downvotes-->
        <form th:action="@{/profile/downvote}" method="post">
            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
            <button type="submit" class="btn btn-secondary">
				    <span><i class="bi bi-caret-down-fill"></i> Dislike
					    -<span th:text="${postStat.getDownVotesCount()}"></span>
				    </span>
            </button>
        </form>
        <!--upvotes and downvotes end-->

        <!--favorite button starts here-->
        <form th:action="@{/profile/addToFavorites}" method="post">
            <button class="btn btn-warning" type="submit">
                <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                <i class="bi bi-star"></i>
                Add to Favorites
            </button>
        </form>
        <!--favorites button ends here-->
    </div>
</div>
<!--ending test fragment ask mario for questions-->


<div th:fragment="favorites">
    <h5 class="display-5 text-center">Favorites</h5>

    <!--favorites fragment-->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 content-card" th:each="favorite : ${favorites}">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h6 class="category">Category</h6>
                            <a th:href="@{|/post/${favorite.getPostId()}|}"><h2 class="title mb-1"
                                                                                th:text="*{favorite.title}"></h2></a>
                            <p class="description" th:text="*{favorite.description}"></p>
                            <img th:src="*{favorite.image_url}" class="">
                            <p class="mt-3" th:text="*{favorite.date_published}"></p>
                            <a th:href="@{|/profile/*{favorite.user.getUserName()}|}"><p class="mt-3"
                                                                                         th:text="*{favorite.user.getUserName()}"></p>
                            </a>
                        </div>
                        <form th:action="@{profile/favorites/delete}" method="post"
                              class="d-flex justify-content-center">
                            <input type="text" hidden name="post_id_value" th:value="${favorite.postId}">
                            <button type="submit" class="btn btn-danger">Remove from Favorites</button>
                        </form>
                    </div> <!-- end card -->
                </div>
            </div>

        </div>
    </div>
    <!---->
</div>

<!--favorites fragment-->


<!--search fragment-->

<!--<div th:fragment="search">
    <div th:if="${searchedUsers != null}">
        <div th:each="user : ${searchedUsers}">
            <span th:text="${user.avatarImg}"></span>
            <span th:text="${user.linkedInURL}"></span>
            <span th:text="${user.githubURL}"></span>
            <span th:text="${user.userName}"></span>
        </div>
    </div>
    <div th:if="${searchedPosts != null}" >
        <div th:each="post : ${searchedPosts}">
            <span th:text="${post.title}"></span>
            <span th:text="${post.content}"></span>
            <span th:text="${post.description}"></span>
            <span th:text="${post.date_published}"></span>
        </div>
    </div>
    <div th:if="${searchedCategories != null}">
        <div th:each="category : ${searchedCategories}">
            <span th:text="${category.category}"></span>
        </div>
    </div>
    &lt;!&ndash;give error on this page&ndash;&gt;
    <div th:if="${error}">
        <h4 class="display-4 text-center">No Results</h4>
        <button onclick="history.back()" class="btn btn-primary">Go Back</button>
    </div>

</div>-->

<!--search fragment-->

<!--Footer Partial-->
<footer th:fragment="footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
                <span class="text-muted">2022 RecyCode</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <i class="bi bi-twitter"></i>
                </li>
                <li class="ms-3">
                    <i class="bi bi-instagram"></i>
                </li>
                <li class="ms-3">
                    <i class="bi bi-facebook"></i>
                </li>
                <li class="ms-3">
                    <i class="bi bi-github"></i>
                </li>
            </ul>
            <button onclick="myFunction()">Going Dark</button>

            <script>
                function myFunction() {
                    const element = document.body;
                    element.classList.toggle("dark-mode");
                }
            </script>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/config.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>

