<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--Head Partial-->
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div th:fragment="loader" class="loading-page d-flex justify-content-center" id="loading">
    <img th:src="@{/img/NavbarArrows.png}" alt="logo"/>
</div>

<nav th:fragment="nav" class="mb-1 sticky-lg-top sticky-md-top">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark nav-color  border-bottom" style="border-radius: 15px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img
                    id="recycode-logo"
                    th:src="@{/img/NavbarArrows.png}"
                    alt="RecyCode logo"
                    draggable="false"
                    height="80"
                    width="80"
                    class="nav-img ms-5"/>
            </a>
            <button
                    class="navbar-toggler text-white btn btn-lg"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="nav-item">
                    <form class="form-floating" method="post"
                          th:action="@{/search/results}">
                        <input type="search" class="form-control form-control-dark searchbar" placeholder="Search..."
                               aria-label="Search" name="searched_value" id="search_bar">
                        <label for="search_bar">Search</label>
                    </form>
                </div>
                <ul class="navbar-nav ms-auto align-items-center justify-content-evenly">

                    <li class="nav-item">
                        <a href="/posts" class="btn btn-outline-light mx-1" id="id1">
                            <i class="bi bi-book"></i> Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-1" sec:authorize="isAuthenticated()" href="/post" id="id2">
                            <i class="bi bi-plus-circle-dotted"></i> Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-1" sec:authorize="isAuthenticated()" href="/profile" id="id3">
                            <i class="bi bi-person-circle"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-1" href="/about" id="id4">
                            <i class="bi bi-question-circle" style="font-size: small;"></i> About Us</a>
                    </li>
                    <li class="nav-item">

                        <a class="btn btn-outline-light mx-1" sec:authorize="isAnonymous()" href="/signin" id="id5">
                            <i class="bi bi-box-arrow-in-right"></i> Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-1" sec:authorize="isAnonymous()" href="/signup" id="id6">

                            <i class="bi bi-person-plus-fill"></i> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">

                            <button type="submit" class="btn btn-outline-light ms-3"  sec:authorize="isAuthenticated()" id="id7">

                                <i class="bi bi-box-arrow-left"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</nav>



<div th:fragment="posts_fragment">
    This is read from partials, I was too lazy to code this again - Mario
    <div th:each="post : ${posts}">
        <p th:text="${post.title}"></p>
        <p th:text="${post.content}"></p>
        <p th:text="${post.description}"></p>
        <p th:text="${post.date_published}"></p>
        <div th:each="postStat : ${postStats}">
            <form th:action="@{/profile/upvote}" method="post">
                <input type="text" th:value="${post.getPostId()}" name="post_id_value" hidden>
                <button type="submit" class="btn btn-secondary">
				    <span>Up Votes
                        <span th:text="${postStat.upVotesCount}"></span>
				    </span>
                </button>
            </form>
            <form th:action="@{/profile/downvote}" method="post">
                <input type="text" th:value="${post.getPostId()}" name="post_id_value" hidden>
                <button type="submit" class="btn btn-secondary">
				    <span>Down Votes
					    -<span th:text="${postStat.downVotesCount}"></span>
				    </span>
                </button>
            </form>
        </div>
    </div>
</div>

<!--test fragment-->
<div th:fragment="post_stat_fragment">
    <div th:each="postStat : ${postStats}">
        <p th:text="${postStat.getPost().getTitle()}"></p>
        <p th:text="${postStat.getPost().getContent()}"></p>
        <p th:text="${postStat.getPost().getHtml()}"></p>
        <p th:text="${postStat.getPost().getCss()}"></p>
        <p th:text="${postStat.getPost().getJs()}"></p>
        <p th:text="${postStat.getPost().getDate_published()}"></p>
        <!--this is for testing only-->
        <span>postID </span>
        <p th:text="${postStat.getPost().getPostId()}"></p>
        <!--this is for testing only-->

        <!--upvites-->
        <form th:action="@{/profile/upvote}" method="post">
            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
            <button type="submit" class="btn btn-secondary">
				    <span><i class="bi bi-caret-up-fill"></i> Like
                        <span th:text="${postStat.getUpVotesCount()}"></span>
				    </span>
            </button>
        </form>
        <!--downvotes-->
        <form th:action="@{/profile/downvote}" method="post">
            <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
            <button type="submit" class="btn btn-secondary">
				    <span><i class="bi bi-caret-down-fill"></i> Dislike
					    -<span th:text="${postStat.getDownVotesCount()}"></span>
				    </span>
            </button>
        </form>
        <!--upvotes and downvotes end-->

        <!--favorite button starts here-->
        <form th:action="@{/profile/addToFavorites}" method="post">
            <button class="btn btn-warning" type="submit">
                <input type="text" th:value="${postStat.getPost().getPostId()}" name="post_id_value" hidden>
                <i class="bi bi-star"></i>
                Add to Favorites
            </button>
        </form>
        <!--favorites button ends here-->
    </div>
</div>

<div th:fragment="favorites">
    <div th:each="favorite : ${favorites}">
        <div class="card mb-3 mt-3" style="max-width: 50rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="*{favorite.image_url}" class="img-fluid rounded-start"
                         alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span th:text="${favorite.getTitle()}"></span>
                        </h5>
                        <p class="card-text"><span
                                th:text="${favorite.description}"></span></p>
                        <p class="card-text"><small class="text-muted">Last updated <span
                                th:text="${favorite.getDate_published()}"></span></small>
                        </p>
                    </div>
                    <div class="card-footer justify-content-evenly align-items-baseline d-flex">
                        <form th:action="@{profile/favorites/delete}" method="post"
                              class="d-flex justify-content-center">
                            <input type="text" hidden name="post_id_value" th:value="${favorite.postId}">
                            <button type="submit" class="btn btn-danger">Remove from Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--favorites fragment-->


<!--search fragment-->

<!--<div th:fragment="search">
    <div th:if="${searchedUsers != null}">
        <div th:each="user : ${searchedUsers}">
            <span th:text="${user.avatarImg}"></span>
            <span th:text="${user.linkedInURL}"></span>
            <span th:text="${user.githubURL}"></span>
            <span th:text="${user.userName}"></span>
        </div>
    </div>
    <div th:if="${searchedPosts != null}" >
        <div th:each="post : ${searchedPosts}">
            <span th:text="${post.title}"></span>
            <span th:text="${post.content}"></span>
            <span th:text="${post.description}"></span>
            <span th:text="${post.date_published}"></span>
        </div>
    </div>
    <div th:if="${searchedCategories != null}">
        <div th:each="category : ${searchedCategories}">
            <span th:text="${category.category}"></span>
        </div>
    </div>
    &lt;!&ndash;give error on this page&ndash;&gt;
    <div th:if="${error}">
        <h4 class="display-4 text-center">No Results</h4>
        <button onclick="history.back()" class="btn btn-primary">Go Back</button>
    </div>

</div>-->

<!--search fragment-->

<!--Footer Partial-->
<footer th:fragment="footer" class="mt-auto">
    <div class="container">
        <footer class="d-flex flex-wrap align-items-center justify-content-center py-3 my-4">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
                <span class="text-muted">2022 RecyCode</span>
            </div>
<!--            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
<!--                <li class="ms-3">-->
<!--                    <i class="bi bi-twitter"></i>-->
<!--                </li>-->
<!--                <li class="ms-3">-->
<!--                    <i class="bi bi-instagram"></i>-->
<!--                </li>-->
<!--                <li class="ms-3">-->
<!--                    <i class="bi bi-facebook"></i>-->
<!--                </li>-->
<!--                <li class="ms-3">-->
<!--                    <i class="bi bi-github"></i>-->
<!--                </li>-->
<!--            </ul>-->

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
<!--    <script type="text/javascript" th:src="@{/js/config.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>

