<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<nav th:replace="partials :: nav"></nav>

<div class="container mb-5" id="avatar">
    <div class="row">
        <div class="col">
            <img th:src="@{img/RecyCode (3).png}" height="500" width="500"/>
        </div>
    </div>
</div>
<div>
    This needs styling
    <div th:each="post : ${posts}">
        <p th:text="${post.title}"></p>
        <p th:text="${post.content}"></p>
        <p th:text="${post.description}"></p>
        <p th:text="${post.date_published}"></p>
    </div>
</div>

<h1 class="text-center">Your Profile</h1>


<footer th:replace="partials :: footer"></footer>

</body>
</html>
