<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head">
	<meta charset="utf-8">
	<title></title>
</head>

<body>
<nav th:replace="partials :: nav"></nav>

<div class="container-fluid d-flex align-items-center justify-content-center">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="card bg-dark mt-3" style="max-width: 60rem;" th:each="postStat : ${postStats}">
			<div class="row g-0">
				<div class="col-md-4 justify-content-center d-flex">
					<a th:href="@{|/post/${postStat.getPost().postId}|}">
						<img th:src="*{postStat.post.image_url}" class="img-fluid rounded-start"
							 th:alt="${postStat.getPost().getTitle()}"
							 style="max-height: 250px; width: auto;">
					</a>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<a th:href="@{|/post/${postStat.getPost().postId}|}"
						   class="text-decoration-none text-orange">
							<h5 class="card-title">
								<span th:text="${postStat.getPost().getTitle()}"></span>
							</h5></a>

						<p class="card-text text-green"><span
								th:text="${postStat.post.description}"></span></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-footer d-flex justify-content-between align-items-baseline flex-md-row flex-xl-row flex-column flex-xxl-row">
						<p class="card-text"><small class="text-light">Last updated <span
								th:text="${postStat.getPost().getDate_published()}"></span></small>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card-footer justify-content-evenly align-items-baseline d-flex">
						<!--upvites-->
						<form th:action="@{/profile/upvote}" method="post">
							<input type="text" th:value="${postStat.getPost().getPostId()}"
								   name="post_id_value" hidden>
							<button type="submit" class="btn btn-primary">
								<i class="bi bi-hand-thumbs-up-fill"></i>
								<span th:text="Like + ' ' + ${postStat.getUpVotesCount()}"></span>
							</button>
						</form>
						<!--downvotes-->
						<form th:action="@{/profile/downvote}" method="post">
							<input type="text" th:value="${postStat.getPost().getPostId()}"
								   name="post_id_value" hidden>
							<button type="submit" class="btn btn-primary">
								<i class="bi bi-hand-thumbs-down"></i>
								<span th:text="Dislike + ' -' + ${postStat.getDownVotesCount()}"></span>
							</button>
						</form>
						<!--upvotes and downvotes end-->

						<!--favorite button starts here-->
						<form th:action="@{/profile/addToFavorites}" method="post">
							<button class="btn btn-warning" type="submit">
								<input type="text" th:value="${postStat.getPost().getPostId()}"
									   name="post_id_value"
									   hidden>
								<i class="bi bi-star"></i>
								Add to Favorites
							</button>
						</form>
						<!--favorites button ends here-->

						<form th:action="@{/profile/copyPost}"
							  method="post">
							<button class="btn btn-secondary" type="submit">
								<input type="text" th:value="${postStat.getPost().getPostId()}"
									   name="post_id_value"
									   hidden>
								Make A Copy
							</button>
						</form>

					</div>

				</div>

			</div>
			<!--                                </div>-->
		</div>
	</div>
</div>

<div
		class="codepen"
		data-prefill
		style="height: 800px; overflow: auto;"
		data-height="800"
		data-theme-id="1"
		data-default-tab="html,result"
		data-editable="true"
>
<pre data-lang="html">
	<code class="" th:text="*{post.html}"></code>
</pre>
	<pre data-lang="css">
	<code class="" th:text="*{post.css}"></code>
</pre>
	<pre data-lang="js">
	<code class="" th:text="*{post.js}"></code>
</pre>
</div>




<script async src="https://static.codepen.io/assets/embed/ei.js"></script>


<footer th:replace="partials :: footer"></footer>
</body>
</html>
